[[source]]
verify_ssl = true
url = "https://pypi.org/simple"
name = "pypi"

[dev-packages]

[requires]
python_version = "3.7"

[packages]
django = "~=2.2.3"
django-environ = "~=0.4.5"
psycopg2 = "~=2.8.5"
waitress = "~=1.4.3"
whitenoise = "~=5.1.0"
djangorestframework = "~=3.11.0"
django-bootstrap4 = "~=1.1.1"
django-rest-auth = "~=0.9.5"
django-extensions = "~=2.2.9"
packaging = "*"
drf-yasg = "~=1.17.1"
# fcm-django is used for mobile notifications. It can be removed if unneeded.
fcm-django = "~=0.3.4"
pyyaml = "~=5.3.1"
pillow = "*"
twilio = "*"
django-storages = "1.11.1"
boto3 = "1.18.56"
stripe = "*"
pyjwt = "*"
django-allauth = "*"
django-taggit = "~=1.3.0"
cryptography = "~=3.3.1"
django-cors-headers = "*"
django-debug-toolbar = "*"
drf-extra-fields = "*"
sendgrid = "==6.6.0"
django-imagekit = "*"
django-redis = "*"
sentry-sdk = "*"
timezonefinder = "*"
numba = "*"
python-dateutil = "*"
drf-tweaks = "*"
ics = "*"
tatsu = "==4.4.0"
pandas = "==1.1.5"
ipython = "==7.16.1"
importlib-metadata = "*"
psycopg2-binary = "*"
django-autoslug = "*"
django-flexible-subscriptions = "*"
celery = {version = "==5.0.5",extras = ["redis"]}
python-benedict = "*"
numpy = "==1.19.5"
traitlets = "==4.3.3"
django-celery-beat = "*"
# "django-push-notifications[WP,APNS]" = "~=2.0.0"
# faker = "*"
# django-push-notifications = {git = "https://github.com/jazzband/django-push-notifications.git"}

[pipenv]
allow_prereleases = true
