boto3==1.18.56
celery[redis]==5.0.5
cryptography==3.3.*,>=3.3.1
coverage
django==2.2.*,>=2.2.3
django-allauth
django-autoslug
django-bootstrap4==1.1.*,>=1.1.1
django-celery-beat
django-cors-headers
django-debug-toolbar
django-environ==0.4.*,>=0.4.5
django-extensions==2.2.*,>=2.2.9
django-flexible-subscriptions
django-imagekit
django-polymorphic==3.*,>=3.0.0
django-push-notifications[APNS,WP]==2.*,>=2.0.0
django-redis
django-rest-auth==0.9.*,>=0.9.5
django-storages==1.11.1
django-taggit==1.3.*,>=1.3.0
djangorestframework==3.11.*,>=3.11.0
drf-extra-fields
drf-tweaks
drf-writable-nested
drf-yasg==1.17.*,>=1.17.1
factory-boy==3.*,>=3.2.0
fcm-django==0.3.*,>=0.3.4
ics
importlib-metadata
ipdb==0.*,>=0.13.9
ipython>=7.17.0
numba
numpy==1.19.5
onesignal-notifications==0.*,>=0.2.6
onesignal-sdk==2.*,>=2.0.0
packaging
pandas==1.1.5
pillow
# WARNING! UNTIL FURTHER RESEARCH DO NOT USE ANOTHER
# VERSION OF PSYCOP! SEE https://stackoverflow.com/a/68025007
psycopg2>=2.8,<2.9
# psycopg2-binary
PyJWT<2.0.0,>=1.4.0
pylint==2.*,>=2.10.2
python-benedict
python-dateutil
pyyaml==5.3.*,>=5.3.1
sendgrid==6.6.0
sentry-sdk
stripe
tatsu==4.4.0
timezonefinder
traitlets==4.3.3
twilio
waitress==1.4.*,>=1.4.3
whitenoise==5.1.*,>=5.1.0
