{% extends "./base_email.html" %}

{% block content %}
<div class="content" style="margin-bottom: 40px;" >
    <p style="font-size: 20px">You're going to</p>
    <p id="class_name" style="font-size: 30px; color: #5FE487; line-height: 2rem; margin-top: 15px;">{{name}}<br>w/ {{trainer_name}}</p>
    <p id="time" style="font-size: 20px; line-height: 2rem; margin-top: 15px;">{{time}}</p>
    {% if location %}
    <p id="place" style="font-size: 20px; line-height: 2rem; margin-top: 15px;">{{location}}</p>
    {% else %}
    <p class="link" style="margin-top: 20px">Join Zoom meeting:<br><a href="{{ link }}" style="color: white; text-decoration: underline;">{{link}}</a><br><br>Passcode: {{password}}</p>
    {% endif %}
    <p class="link" style="margin-top: 20px;"><a href="{{ class_link }}" style="color: white; text-decoration: underline; font-size: 16px;">See class</a></p>
</div>
{% endblock %}
