{% extends "./base_email.html" %}

{% block content %}
<div class="content" style="margin-bottom: 40px;" >
    <p style="font-size: 20px">You're going to</p>
    <p id="class_name" style="font-size: 30px; color: #5FE487; line-height: 2rem; margin-top: 15px;">{{name}}<br>w/ {{trainer_name}}</p>
    <p id="time" style="font-size: 20px; line-height: 2rem; margin-top: 15px;">{{time}}</p>
    {% if location %}
    <p id="place" style="font-size: 20px; line-height: 2rem; margin-top: 15px;">{{location}}</p>
    {% else %}
    <p id="place" style="font-size: 20px; line-height: 2rem; margin-top: 15px;">Virtual Class</p>
    {% endif %}
    <p class="link" style="margin-top: 20px;"><a href="{{ google_link }}" style="color: white; text-decoration: underline; font-size: 16px;">Google</a> - <a href="{{ ics_link }}" style="color: white; text-decoration: underline; font-size: 16px;">Outlook</a> - <a href="{{ ics_link }}" style="color: white; text-decoration: underline; font-size: 16px;">iCal</a></p>
    <p class="link" style="margin-top: 5px;"><a href="{{ class_link }}" style="color: white; text-decoration: underline; font-size: 16px;">See class</a></p>
</div>
{% endblock %}

{% block order_summary %}
    {% if payment_method_details.card.brand %}
    <h2 align="left" style="margin: 40px 0 30px; font-size: 20px">Order Summary</h2>
    <p align="left" style="font-size: 15px; color: black; margin-bottom: 10px">Order# {{payment_intent}} {{created}}</p>
    <p align="left" style="color: black">{{user}}</p>
    {% for spot in spots %}
    <div class="row" style="margin: 10px 0; height: 20px;">
        {% if spot.first_name and spot.last_name %}
        <p class="leftstr" align="left" style="color: black; width: 250px">{{ spot.first_name }} {{ spot.last_name }}</p>
        {% else %}
        <p class="leftstr" align="left" style="color: black; width: 250px">Spot {{ forloop.counter }}</p>
        {% endif %}
        <p class="rightstr" style="color: black; width: 150px">${{price_by_one}}</p>
    </div>
    {% endfor %}
    <hr>
    <div class="row" style="margin: 10px 0; height: 20px;">
        <p class="rightstr" style="color: black; width: 400px">${{all_price}}</p>
    </div>
    <p align="left" style="color: #828282;">${{all_price}} paid by {{payment_method_details.card.brand}}</p>
    <p align="left" style="color: #828282;">Last 4 digits: {{payment_method_details.card.last4}}</p>
    <p align="left" style="color: #828282;">Appears on your card statement as {{site_name}} app</p>
    <p align="left" style="color: #828282;">Contact the trainer for any questions related to <br> this purchase</p>
    <br>
    {% endif %}
{% endblock %}